* {
    margin: 0;
    padding: 0;
}
.container {
    /* background-image: url(assets/images/bg.jpg); */
    width: 100%;
    height: 99vh;
    background-color: #0f0f0f;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 45px;
}
.netflix-logo{
    width: 9.25rem;
    height: 2.5rem;
}
.navButton{
    width: auto;
    min-height: 2rem;
    border: 0;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    color: rgb(0, 0, 0);
}
.navButtonContainer{
    margin-right: 10px;
}
.englishSelect{
    background: transparent;
}
.dropdownContainer{
    border-width: 0.0625rem;
    border-color: rgba(128, 128, 128, 0.7);
    border-style: solid;
    display: inline-flex;
    align-items: center;
    border-radius: 100px;
    width: auto;
    border: 0;
    min-height: 2rem;
    padding: 0.25rem 1rem;
    gap: 5px;
    margin-right: 15px;
    position: relative;
    background: rgba(22, 22, 22, 0.7);
    /* background-color: transparent; */
}
.langClass{
    color: rgb(255, 255, 255);
}
#langId{
    /* fill: white; */
}
.childContainer{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
}
.topContainer{
    background: url(assets/images/bg.jpg) 50% center / cover no-repeat;
    position: absolute;
    width: 100%;
    height: 62.5rem;
    filter: blur(16px);
    opacity: 0.16;
    mask-image: linear-gradient(rgb(217, 217, 217) 78.62%, rgba(115, 115, 115, 0) 100%);
}
.middleContainer{
    opacity: 75%;
    background: radial-gradient(92.16% 100% at 49.87% 0%, rgba(247, 99, 107, 0.3) 19.86%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    height: 75rem;
    width: 100%;
}
.bottomContainer{
    background: radial-gradient(50% 100% at 50% 0%, rgba(44, 66, 156, 0.15) 0%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    height: 75rem;
    width: 100%;
}
.landingCard{
    background-image: url(assets/images/bg.jpg);
    width: 100%;
    max-width: 114rem;
    height: 35rem;
    background-color: red;
}