.container{
    display: flex;
    padding: 10px;
    background-color: black;
}
.card{
    display: flex;
}
.boxStyle{
    /* width: 100px; */
    /* height: 100px;     */
    border-radius: 8px;
}
