* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
td {
  border: 2px, solid black;
}

#designation {
  background-color: aqua;
}
.com {
  background-color: blue;
}

h1 {
  text-decoration: overline;
  text-decoration-style: dotted;
  text-decoration-thickness: 2px;
  font-weight: 500;
}

.box {
  border-top: 5px solid black;
  background-color: green;
  justify-content: center;
  width: 60px;
  padding: 20px;
  border-radius: 50% 50% 0 0;
  /* border-top-right-radius: 50%; */
}
.container {
  background-color: rgb(158, 158, 248);
  width: 100vw;
  /* height: 100vh; */
  text-align: center;
  border-radius: 10px;
  padding: 50px;
}
.card {
  background-color: white;
  width: 70%;
  border-radius: 10px;
  margin: auto;
  padding-bottom: 20px;
}
.nav-class {
  background-color: aliceblue;
  width: 100%;
  height: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card-item {
  padding-top: 20px;
  /* width: 100%; */
  /* margin: auto; */
  text-align: center;
}
.sign-up {
  color: blue;
  font-weight: 800;
  text-decoration: none;
}
.subheading-text {
  font-weight: 300;
  font-size: 14px;
  color: rgb(211, 209, 209);
}
.account-button {
  position: relative;
  width: 50%;
  height: 40px;
  background-color: white;
  border-radius: 20px;
  border: 1px solid #e0e0e0;
  border-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 20px 0 20px 0;
}
.google-logo {
  position: absolute;
  width: 10%;
  height: 90%;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  right: 10px;
}
.button-text {
  font-weight: 300;
  color: blue;
}
.email-label {
  display: block;
  margin: 5px;
}
.email-input {
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  padding: 0 10px;
  border-radius: 5px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
}
.email-container {
  width: 50%;
  margin: auto;
  text-align: start;
}
.sign-up-button{
  margin-top: 20px;
  width: 50%;
  height: 30px;
  border: none;
  background-color: rgb(158, 158, 248);
  border-radius: 10px;
box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2) ;
}